.App {
  text-align: center;
  margin:0 auto; 
}

body 
{
   margin:0 auto; 
   text-align: center;
  }

header {
  padding-bottom: 10px;
}

#search {
  margin-bottom: 20px;
} 

input[type=text] {
  width: 330px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/magnifying-glass-search-zoom-find-512.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
  border: 3px solid #555;
}

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

            
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


